@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

::selection {
  background-color: #ff9100;
  color: #000;
}

p {
  font-family: "Roboto", serif;
}

.price-container {
  width: 100%;
  position: absolute;
  display: flex;
  top: 30%;
  justify-content: center;
  align-items: center;
}

.container-box {
  position: relative;
  box-shadow: rgba(9, 9, 9, 0.523) 0px 5px 15px;
  border: 1px solid #ff5500;
  background-color: rgb(225, 225, 225);
  width: 75%;
  border-radius: 60px 60px 10px 10px;
  padding-bottom: 1px;
  margin-bottom: 125px;
}

.price-title {
  border-radius: 50px 50px 0 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 1.2rem;
  background-color: #ff5500;
  font-size: 1.4rem;
  font-weight: 400;
  color: white;
}

.price-title img {
  height: 18px;
}

.price-title p {
  border-bottom: 2px solid white;
}

.price {
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: #0d221b;
  font-size: 1.8rem;
  font-weight: 500;
  /* border-bottom: 1px solid #6c6c6c; */
  margin: 2px;
  padding: 0 0 0 3%;
  border-radius: 8px;
}

.price p:nth-child(4) {
  font-weight: 300;
}

.price h4 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  flex: 1; /* H4 elementine eşit bir genişlik ver */
}

.price p {
  flex: 1; /* P elementine de eşit bir genişlik ver */
  text-align: center; /* Ortala */
}
.price button {
  position: absolute;
  right: 15px;
  background-color: #ff5500;
  border: none;
  border-radius: 100px;
  height: 38px;
  width: 38px;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
}

.price button:hover {
  background-color: #0d221b;
}

.price button img {
  height: 24px;
  width: 24px;
}

/* responsive */

@media (max-width: 990px) {
  .price {
    font-size: 1.5rem;
  }

  .price h4 {
    font-size: 1.5rem;
  }
  .price p {
    font-size: 1.3rem;
  }

  .price button {
    right: 12px;
    height: 28px;
    width: 28px;
  }
}

@media (max-width: 690px) {
  .price-container {
    top: 22%;
    padding: 0 0px;
  }

  .container-box {
    width: 100%;
  }

  .price-title {
    font-size: 0.8rem;
    padding-top: 0.8rem;
  }

  .price-title img {
    height: 14px;
  }

  .price {
    font-size: 1.2rem;
    height: 60px;
    margin: 1px;
    padding: 0 0 0 0;
  }

  .price h4 {
    font-size: 1.2rem;
  }

  .price p {
    font-size: 1rem;
  }

  .price button {
    display: none;
  }

  .price-title p img {
    display: none;
  }
}
